#quote-box {
  position: relative;
  background-color: white;
  border: 0;
  border-radius: 5px;
  width: 35vw;
  height: auto;
  margin: auto;
  margin-top: 20vh;
  padding: 1rem;
  padding-bottom: 5rem;
}

#text {
  width: 30vw;
  margin: 1rem auto !important;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
#author {
  width: 31vw;
  text-align: right;
  font-weight: 200;
  font-size: 1.25rem;
}
#new-quote {
  position: absolute;
  right: 3.5rem;
  border: 0;
  border-radius: 5px;
  width: 10vw;
  height: 6vh;
  color: white;
  outline: 0;
  cursor: pointer;
  appearance: auto;
}
#new-quote:hover {
  opacity: 0.8;
}
#tweet-quote {
  position: absolute;
  left: 4rem;
  border: 0;
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  outline: 0;
  cursor: pointer;
  appearance: auto;
  text-align: center;
  padding-top: 0.75rem;
}
#icon-twitter {
  padding-top: 40rem;
  color: white;
}
